header {
	background-color: black;
}

body {
	margin: 0;
	padding: 0;
}

.container {
    margin: 0px 160px;
}

#logo {
	margin-top: 9px;
}

.clear {
	clear: both;
}

nav ul li {
	float: left;
	color: white;
	margin: 11px 23px;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	margin-left: 5px;
}